body {
    padding: 50px 150px;
}

.lifegrid {
    display: flex;
    flex-direction: column;
}
.row {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.cell {
	width: 5%;
   height: 20px;
   background: #ccc;
   border: 1px solid #fff;

}
.cell.alive {
    background: #000;
}
